{{#with celebrity}}
<h1>Celebrity Details</h1>
<span>{{name}}</span>
<span>Occupation: {{occupation}}</span>
<p>Catch Phrase: {{catchPhrase}}</p>

<a href="/celebrities/delete/{{Celebrity._id}}">Delete this guy</a>
{{/with}}